@import url('https://fonts.googleapis.com/css?family=Roboto');

.visually-hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

body {
  position: relative;
  background: #000;
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
  line-height: 1.5;
  padding: 0 1em;
}

.alert {
  opacity: 0;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;
  background-color: #28c28d;
  color: #fff;
  transition: opacity 350ms ease-in-out;
  z-index: 20;
}

.alert[aria-hidden='false'] {
  opacity: 1;
}

a {
  color: white;
  text-decoration: none;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

header {
  margin-bottom: 80px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

header .header-ctn {
  height: 80px;
  display: flex;
  align-items: center;
}

header h1 {
  font-size: 35px;
  color: white;
}

header p {
  position: relative;
  max-width: 296px;
  font-size: 16px;
  line-height: 22px;
  position: relative;
  margin-left: 26px;
}

header .header-ctn p:before {
  position: absolute;
  content: '-';
  display: inline-block;
  top: 25%;
  left: -16px;
}

.main-ctn {
  display: flex;
  justify-content: space-between;
}

.main-ctn .blocks {
  width: 690px;
}

.main-ctn .block {
  margin-bottom: 70px;
}

h3.subtitle {
  font-size: 20px;
  color: white;
  margin-bottom: 15px;
}

.main-ctn .block .block__desc p {
  margin-bottom: 10px;
}

.main-ctn .block .block__desc p:before {
  content: '•';
  display: inline-block;
  margin-right: 5px;
}

.main-ctn .right-column .terminal {
  margin-bottom: 70px;
}

svg {
  max-width: 100%;
}

.main-ctn .right-column .price .line {
  display: table;
  margin-bottom: 10px;
}

.main-ctn .right-column .price .line div:first-child {
  display: table-cell;
  width: 170px;
}

.main-ctn .right-column .price .line b {
  color: white;
}

.main-ctn .right-column .price .line b {
  color: white;
}

.form-ctn {
  display: flex;
  align-content: center;
  text-align: center;
  margin-top: 50px;
  padding: 70px 0;
  border-top: solid 1px rgba(255, 255, 255, 0.2);
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

.title {
  font-size: 25px;
  color: white;
}

.form_header p {
  margin-top: 4px;
  margin-bottom: 20px;
}

.inputs-ctn {
  display: flex;
  border: solid 1px rgba(255, 255, 255, 0.5);
  border-radius: 10px;
  width: 450px;
}

.inputs-ctn input,
.inputs-ctn button {
  border: none;
  background: transparent;
  min-height: 50px;
}

.inputs-ctn input[type='email'] {
  flex: 1;
  font-size: 14px;
  font-family: Menlo, Consolas, monospace;
  padding: 0 15px;
  color: white;
  outline: none;
}

.inputs-ctn button {
  cursor: pointer;
  font-size: 15px;
  width: 165px;
  background: white;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 70px 0;
}

footer a {
  margin-left: 20px;
}

@media (max-width: 901px) {
  header {
    margin-bottom: 2em;
  }

  .main-ctn {
    flex-direction: column;
    align-items: center;
  }

  .main-ctn .blocks {
    width: auto;
  }

  .main-ctn .block {
    margin-bottom: 2em;
  }

  .main-ctn .right-column .terminal {
    margin-bottom: 2em;
  }

  .form-ctn {
    display: block;
  }

  .inputs-ctn {
    width: auto;
  }
}
