@import url('https://fonts.googleapis.com/css?family=Roboto');

::selection {
  background: #bab7fa;
  color: #fff;
}

::-moz-selection {
  background: #bab7fa;
  color: #fff;
}

.visually-hidden {
  border: 0 !important;
  clip: rect(1px, 1px, 1px, 1px) !important;
  height: 1px !important;
  overflow: hidden !important;
  padding-top: 0 !important;
  padding-right: 0 !important;
  padding-bottom: 0 !important;
  padding-left: 0 !important;
  position: absolute !important;
  white-space: nowrap !important;
  width: 1px !important;
}

body {
  position: relative;
  background: #000;
  color: rgba(255, 255, 255, 0.5);
  font-family: 'Roboto', sans-serif;
  font-size: 100%;
  line-height: 1.5;
  padding: 0 1em;
  -webkit-font-smoothing: antialiased;
}

.alert {
  opacity: 0;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 1em;
  background-color: #28c28d;
  color: #fff;
  transition: opacity 350ms ease-in-out;
  z-index: 20;
}

.alert[aria-hidden='false'] {
  opacity: 1;
}

a {
  color: #fff;
  text-decoration: none;
}

.button.button-border {
  border: solid 1px #fff;
  padding: 0.5em 1em;
  border-radius: 2px;
}

.container {
  max-width: 1180px;
  margin: 0 auto;
}

header {
  margin-bottom: 80px;
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

header .header-ctn {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header .header-ctn .header__baseline {
  display: flex;
  align-items: center;
}

header h1 {
  font-size: 220%;
  color: #fff;
}

header h2 {
  position: relative;
  max-width: 296px;
  font-size: 100%;
  line-height: 22px;
  position: relative;
  margin-left: 26px;
}

header .header-ctn h2:before {
  position: absolute;
  content: '-';
  display: inline-block;
  top: 25%;
  left: -16px;
}

.main-ctn {
  display: flex;
  justify-content: space-between;
}

.main-ctn .blocks {
  width: 690px;
  margin-right: 1em;
}

.main-ctn .block {
  margin-bottom: 70px;
}

h3.subtitle {
  font-size: 125%;
  color: #fff;
  margin-bottom: 15px;
}

.main-ctn .block .block__desc p {
  margin-bottom: 10px;
}

.main-ctn .right-column .terminal {
  margin-bottom: 70px;
}

svg {
  max-width: 100%;
}

.main-ctn .right-column .price .line {
  margin-bottom: 10px;
}

.main-ctn .right-column .price .line b {
  color: #fff;
}

.main-ctn .right-column .price .line b:before,
.main-ctn .block .block__desc p:before {
  content: '•';
  display: inline-block;
  margin-right: 5px;
}

.form-ctn {
  display: flex;
  align-content: center;
  text-align: center;
  margin-top: 50px;
  padding: 70px 0;
  border-top: solid 1px rgba(255, 255, 255, 0.2);
  border-bottom: solid 1px rgba(255, 255, 255, 0.2);
}

.title {
  font-size: 150%;
  color: #fff;
}

.form_header p {
  margin-top: 4px;
  margin-bottom: 20px;
}

.inputs-ctn {
  display: flex;
  margin: 0 auto;
  max-width: 565px;
}

.inputs-ctn .input-wrapper {
  margin-right: 10px;
}

.inputs-ctn .input-wrapper label,
.inputs-ctn .input-wrapper input {
  display: block;
  text-align: left;
}

.inputs-ctn .input-wrapper input,
.inputs-ctn .input-wrapper .selector {
  border: solid 1px rgba(255, 255, 255, 0.5);
  border-radius: 2px;
}

.inputs-ctn .input-wrapper .selector {
  display: table;
  height: 50px;
  min-width: 150px;
  user-select: none;
}

.inputs-ctn .input-wrapper .selector > div {
  display: table-cell;
  vertical-align: middle;
  padding: 0 16px;
  line-height: 1em;
  cursor: pointer;
}

.inputs-ctn .input-wrapper .selector > div * {
  pointer-events: none;
}

.inputs-ctn .input-wrapper .selector > .item > div {
  margin-top: 3px;
}

.inputs-ctn .input-wrapper .selector > div b {
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 0.06em;
}

.inputs-ctn .input-wrapper .selector div span {
  display: block;
  color: #fff;
  margin-bottom: 2px;
}

.inputs-ctn .input-wrapper .selector .item:nth-child(2) span {
  letter-spacing: -3px;
}

.inputs-ctn .input-wrapper .selector .item:last-child span {
  letter-spacing: -3px;
}

.inputs-ctn .input-wrapper .selector div:not(:last-child) {
  border-right: 1px solid rgba(255, 255, 255, 0.5);
}

.inputs-ctn .input-wrapper .selector > div.selected {
  background: #fff;
  color: #000;
}

.inputs-ctn .input-wrapper:first-child input {
  border-radius: 10px 2px 2px 10px;
}

.inputs-ctn .input-wrapper:last-child {
  margin-right: 0;
}

.inputs-ctn input,
.inputs-ctn button {
  border: none;
  background: transparent;
  height: 50px;
}

.inputs-ctn input[type='email'] {
  flex: 1;
  font-size: 90%;
  font-family: Menlo, Consolas, monospace;
  padding: 0 15px;
  color: #fff;
  outline: none;
}

.inputs-ctn button {
  cursor: pointer;
  font-size: 95%;
  width: 165px;
  background: #fff;
  margin-top: 25px;
  border-top-left-radius: 2px;
  border-bottom-left-radius: 2px;
  border-top-right-radius: 9px;
  border-bottom-right-radius: 9px;
}

footer {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 70px 0;
}

footer a {
  margin-left: 20px;
}

@media (max-width: 901px) {
  header {
    margin-bottom: 2em;
  }

  .header__action {
    display: none;
  }

  .main-ctn {
    flex-direction: column;
    align-items: center;
  }

  .main-ctn .blocks {
    width: auto;
  }

  .main-ctn .block {
    margin-bottom: 2em;
    margin-right: 0;
  }

  .main-ctn .right-column .terminal {
    margin-bottom: 2em;
  }

  .form-ctn {
    display: block;
  }

  .inputs-ctn {
    flex-direction: column;
    align-items: center;
  }

  .inputs-ctn .input-wrapper {
    margin-bottom: 10px;
  }

  .inputs-ctn .input-wrapper label {
    display: inline-block;
  }

  .inputs-ctn .input-wrapper .selector,
  .inputs-ctn .input-wrapper:first-child input,
  .inputs-ctn .input-wrapper button {
    border-radius: 10px;
  }

  .inputs-ctn .input-wrapper button {
    margin-top: 14px;
  }
}
